* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-icon{
  position: relative;
}

.cart-counter{
  position: absolute;
  font-size: 12px;
  width: 19px;
  top: 15%;
  text-align: center;
  border-radius: 100%;
  background-color: red;
  color: white;
}


.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.062);
  padding: 20px 25px;
  background-color: white;
  height: 70px;
  z-index: 1000;
}

.mobile-nav-icon.active:after {
  display: flex;
  margin: auto;
  background-color: rgba(38, 24, 112, 1);
  content: "";
  width: 13px;
  height: 5px;
  border-radius: 10px;
}

.searchBar {
  display: flex;
  position: fixed;
  top: 0;
  padding-top: 10px;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  z-index: 1000;
}
.searchBar >a>img {
  width: 76px;
}

.searchBar > div {
  width: 68%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
#searchInput {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.055);
  border: none;
  width: 85%;
  height: 40px;
  text-indent: 25px;
  outline: none;
}

.Arrow{
  transform:rotateZ(180deg);
  transition: 0.5s ease;
}

.Arrow.active{
    transform:rotateX(0deg);

}

#searchInput::placeholder {
  color: rgba(0, 0, 0, 0.349);
}

#searchInput:focus {
  color: rgba(38, 24, 112, 1);
  background-color: rgba(229, 235, 252, 1);
}

.content {
  padding: 0px 15px;
  margin-bottom: 80px;
  padding-top: 80px;
  min-height: 53vh;
}


.mobile {
  display: flex;
}

.pc {
  display: none;
}


.Loader {
  display: flex;
  align-items:center;
  min-height: 32vh;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: rgba(38, 24, 112, 1);
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.3; /* Initial transparency */
  animation: blink 1s infinite alternate; /* Animation */
}

@keyframes blink {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.Loader.inactive{
  display:none;
}


@media only screen and (min-width: 1024px) {
  .searchBar {
    display: none;
  }
  .pcview-nav {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px 8%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.096);
    z-index: 1000;
  }

  .pc-footer-container {
    display: flex;
    flex-direction: column;
  }
  .pc-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 10%;
  }

  .pc-footer > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer-info >a> img {
    height: 86px;
  }

  .footer-links > h5 {
    color: rgba(128, 128, 128, 0.575);
  }

  .footer-links > span {
    font-weight: 500;
    font-size: 13px;
  }

  .footer-links > div {
    display: flex;
    gap: 10px;
  }
  .footer-links > div > input {
    border: none;
    border-bottom: 1px solid;
          font-size: 13px;
          outline: none;
  }

    .footer-links > div > button {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid;
      padding: 3px;
      font-size: 13px;
    }

  .pc {
    display: flex;
  }

  .mobile {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 30%;
  }

  .nav-links>a{
text-decoration: none;
color: black;
  }
  .nav-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
  }

.cart-icon{
  position: relative;
}

.cart-counter{
  position: absolute;
  bottom: 65%;
  left: 80%;
  font-size: 12px;
  top: auto;
  text-align: center;
  border-radius: 100%;
  background-color: red;
  color: white;
}

  .content {
    padding: 0px 15px;
    margin-bottom: 80px;
    padding-top: 120px;
  }

  .align{
    padding-top: 0px;
  }

}
